body{
background-color:black;
color:white;
padding-top:50px;
text-align:center;
position:fixed;
}
h1{
font-size:40px;
display:block;
//color:blue;
}
main{
height:70vh;
display:block;
//background:red;
width:100vw;
padding:20px;
box-sizing:border-box;
display:flex;
justify-content:center;
align-items:center;
}
form{
height:90%;
width:40%;
padding-top:20px;
//background:green;
border:2px solid white;


}
input{
height:40px;
width:70%;
margin-top:20px;
border-radius:5px;
border:none;
padding:5px;
}
#submit{
background:green;
}





