<html>
<head>
    <style>
        body{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100vh;
        width:100%;
        position:fixed;
        flex-direction:column;
        }
        button{
            padding:12px 15px;
            background:black;
            color:white;
            border:none;
            border-radius:10px;
            cursor:pointer;
        }
    </style>
</head>
<body>
<h1>Thank  You So Much For Contacting Us 🤗</h1><br>
<a href="{% url 'index' %}"> <button>Go Back</button></a>
</body>
</html>